:root {
  --bg: black;
  --text: lime;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: monospace;
}

#terminal {
  height: 95vh;
  overflow-y: auto;
  padding: 10px;
}

#input {
  width: 100%;
  height: 5vh;
  background: var(--bg);
  color: var(--text);
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 16px;
  padding: 5px;
}

.system {
  color: gray;
  font-style: italic;
}

.admin-badge {
  color: cyan;
  font-weight: bold;
}

.owner-badge {
  color: yellow;
  font-weight: bold;
}
